<div class="row collapse">
    <div class="small-4 columns">
        <div class="row collapse postfix-round">
            <div class="small-10 columns">
              {{input valueBinding=search placeholder="Search for..."}}
            </div>
            <div class="small-2 columns">
              {{#link-to 'search' search class="button postfix"}}Go{{/link-to}}
            </div>
        </div>
    </div>
</div>

<ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-12" data-clearing>
    {{#if model.isLoaded}}
        {{#each model as |result|}}
            <li>
                <a href="{{ result.imageUrlLarge}}" class="th">
                    <img src="{{ result.imageUrlSmall }}" />
                </a>
            </li>
        {{else}}
            Sorry, no results.
        {{/each}}
    {{else}}
        Loading.....
        <img src="images/spinner.gif" />
    {{/if}}
</ul>
